<ion-header appGlassBackdrop>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="tab-content">
  <div class="list-group-wrp">
    <section class="list-group">
      <p class="list-group-label">Personal Details</p>
      <ion-list lines="none">
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <ion-input label="Name" labelPlacement="stacked" placeholder="Enter your name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="male-female-outline"></ion-icon>
          </div>
          <ion-select label="Sex" labelPlacement="stacked" placeholder="Select" [(ngModel)]="gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <ion-input label="Age" labelPlacement="stacked" type="number" placeholder="Years" [(ngModel)]="age"></ion-input>
        </ion-item>
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="resize-outline"></ion-icon>
          </div>
          <ion-input label="Height (cm)" labelPlacement="stacked" type="number" placeholder="cm" [(ngModel)]="heightCm"></ion-input>
        </ion-item>
      </ion-list>
    </section>

    <section class="list-group">
      <p class="list-group-label">Units</p>
      <ion-list lines="none">
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="barbell-outline"></ion-icon>
          </div>
          <ion-select label="Weight Unit" labelPlacement="stacked" placeholder="Select" [(ngModel)]="weightUnit">
            <ion-select-option value="kg">Kilograms (kg)</ion-select-option>
            <ion-select-option value="lbs">Pounds (lbs)</ion-select-option>
            <ion-select-option value="st">Stones (st)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="body-outline"></ion-icon>
          </div>
          <ion-select label="Height Unit" labelPlacement="stacked" placeholder="Select" [(ngModel)]="heightUnit">
            <ion-select-option value="cm">Centimeters (cm)</ion-select-option>
            <ion-select-option value="feet">Feet & Inches (ft/in)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </section>

    <section class="list-group">
      <p class="list-group-label">Appearance</p>
      <ion-list lines="none">
        <ion-item class="list-group-item">
          <div class="icon-wrap" slot="start">
            <ion-icon name="moon-outline"></ion-icon>
          </div>
          <ion-label>Dark Mode</ion-label>
          <ion-toggle slot="end" [checked]="isDarkMode()" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </section>

    <div class="save-wrap">
      <button class="save-btn" (click)="saveSettings()">
        @if (saved()) {
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        }
        {{ saved() ? 'Saved!' : 'Save Settings' }}
      </button>
    </div>
  </div>
</ion-content>
