<ion-tabs>
  <div class="tabs-footer-backdrop" aria-hidden="true">
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--1"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--2"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--3"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--4"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--5"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--6"></div>
    <div class="tabs-footer-backdrop__layer tabs-footer-backdrop__layer--7"></div>
  </div>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="pulse-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
